.idea/
**/.DS_Store

*/**/**/__pycache__
*/**/**/.ipynb_checkpoints

**/artifacts/
**/.coverage

model/
corpus/*

pretrained/models/*
!**/.gitkeep

**/**/mlruns/

pretrained/app/static/files/custom_data/*
pretrained/app/static/files/preprocessed_data/*
!**/.gitkeep

pretrained/rest_runner.py

run.sh
